header {
    background-color: #C1FF72;
}

footer {
    background-color: #C1FF72;

}

.footer-columns {
    display: flex;
}

.footer-column {
    flex: 50%;
    margin: 20px;
}

main {
    padding: 10px;
    background-color: aliceblue;
}

.post {
    background-color: rgb(4, 26, 26);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

.post img {
    margin: 20px;
}