header{
    background-color: #C1FF72;
}
.footer-coiumns{
    display: flex;
}
.footer-coiumns{
    flex:50% ;
    margin: 20px;
}
main {
 padding: 10px;
 background-color: aliceblue;
}
.post {
background-color: azure;
padding: 20px;
border-radius: 10px;
margin-bottom: 20px;
display: flex;
}
.post img {
 margin: 20px;
}

